{% extends 'base.html' %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
{% endblock %}

{% block scripts %}
  {{super()}}
  {{moment.include_moment()}}
  <script src="{{url_for('static', filename='app.js')}}"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
{% endblock %}

{% block custom_content %}
  <div class="container">
    <h1>Dashboard</h1>
    <h4>Hello, {{current_user.username}}!
      <a href="{{url_for('bp_user.logout')}}" class="btn btn-warning btn-xs">Logout</a></h4>
  </div>

  {% include 'todo.html' %}



{% endblock %}
