<!-- any way to avoid duplicated html? -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <!-- Panel div -->
      <div class="panel panel-default">

        <!-- Panel head -->
        <div class="panel-heading">
          <h3 class="panel-title">My Keep-Do</h3>
          <nav aria-label="...">
            <ul class="pager">
              <li id='page-info'>Page {{keepdo_args.page}} of {{keepdo_args.total_pages}}</li>
              <li class="{% if not keepdo_args.prev_url %}disabled{% endif %}">
                <a href="{{keepdo_args.prev_url or '#'}}">
                  <i class="fas fa-angle-left"></i>
                </a>
              </li>
              <li class="{% if not keepdo_args.next_url %}disabled{% endif %}">
                <a href="{{keepdo_args.next_url or '#'}}">
                  <i class="fas fa-angle-right"></i>
                </a>
              </li>
              <li>
              <a data-toggle="collapse" href="#keepdolist-collapse" id="keepdolist-toggle">
                <i class="fas fa-caret-down"></i>
              </a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- Panel collapse -->
        <div id="keepdolist-collapse" class="panel-collapse collapse {{session.keepdolist_collapse}}">

          <!-- Panel body -->
          <div class="panel-body">

            <!-- KeepDo form -->
            <ul class="list-group" id="keepdo-form">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-xs-9 col-sm-10 col-md-10">
                    <form class="" action="{{url_for('bp_dashboard.add_keepdo')}}" method="post">
                      {{keepdo_args.form.hidden_tag()}}
                      <div class="form-group">
                        {{keepdo_args.form.task(class="form-control", size=40)}}
                      </div>
                  </div>
                  <div class="col-xs-3 col-sm-2 col-md-2" style="padding-left: 0px;">
                    {{keepdo_args.form.submit(class="btn btn-success", style="width:100%;")}}
                  </div>
                  </form>
                </div>
              </li>

              <li class="list-group-item">
                <div class="grid" id="one-day"></div>&emsp;1 day&emsp;
                <div class="grid" id="seven-days"></div>&emsp;7 days&emsp;
                <div class="grid" id="thirty-days"></div>&emsp;30 days&emsp;
              </li>
            </ul>
            <!-- KeepDo form end -->

            <!-- KeepDo list content -->
            {% for keepdo in keepdo_args.keepdolist %}
            <ul class="list-group">
              <li class="list-group-item">
                <div class="input-group" id="keepdo{{keepdo.id}}">
                  {% if keepdo.daily_check_status %}
                    <span class="input-group-btn daily-check" id="check-checked">
                  {% else %}
                    <span class="input-group-btn daily-check" id="check-unchecked">
                  {% endif %}
                    <i class="far fa-calendar-check"></i>
                  </span>
                  <span class="input-group-btn">
                    <span class="badge" id="total-days">
                      {% if keepdo.times > 1 %}
                        {{keepdo.times}} days
                      {% else %}
                        {{keepdo.times}} day
                      {% endif %}
                    </span>
                  </span>
                  <input type="text" class="form-control" value="{{keepdo.task}}">
                  <span class="input-group-btn" id="saved"></span>
                  <span class="input-group-btn" id="delete"></span>
                </div>
              </li>
              <li class="list-group-item" id="checked-days-list">
                {% for i in range(keepdo.split_days()['thirty']) %}
                  <div class="grid" id="thirty-days"></div>
                {% endfor %}

                {% for i in range(keepdo.split_days()['seven']) %}
                  <div class="grid" id="seven-days"></div>
                {% endfor %}

                {% for i in range(keepdo.split_days()['one']) %}
                  <div class="grid" id="one-day"></div>
                {% endfor %}
              </li>
              <li class="list-group-item" id="keepdo-info">
                {{moment(keepdo.created_timestamp).format('ddd, MMM D, YYYY')}}
                <br> {{moment(keepdo.created_timestamp).fromNow()}}
              </li>
            </ul>
            {% endfor %}
            <!-- KeepDo list content end -->

          </div>
          <!-- Panel body end  -->

        </div>
        <!-- Panel collapse end -->
      </div>
    </div>
  </div>
</div>
